/DesignTapetesNB/DesignTapetes/nbproject/private/
/DesignTapetesNB/DesignTapetes/build/
/TrabalhoThreads/nbproject/private/
/TrabalhoThreads/build/
/TrabalhoThreads/dist/
/Threads/nbproject/private/
/Threads/build/
/Swing/nbproject/private/
/Swing/build/